<div class="robot-profile">
  <h2><a href="/robots/<%= @robot.id %>/edit"><%= @robot.name %></a></h2>
  <p class="message">Not good!</p></li>
  <p><%= @robot.city %>, <%= @robot.state %></p>
  <p><%= @robot.department %> Department</p>
</div>